// DELETE NON-USE FONTS from INDEX.HTML

:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-display: 'Playfair Display', serif;
    --font-display-2: 'Denistina', serif;

    --color-white: #fff;
    --color-black: #000;
    --color-font-grey: #222;
    --color-beige: #ef7c52;
    --color-grey-light: #e7e7e7;
    --color-input-back: #f0f0f0;
    --color-grey-background: #f7f7f7;
    --color-blue: #4ebbbc;
    --color-peach: #ef7c52;
    

    

    --shadow-dark: 0 1px 10px -6px rgba(0,0,0,.42), 0 1px 10px 0px rgba(0,0,0,.12), 0 4px 20px 3px rgba(0,0,0,.1);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0,.06);
    --shadow-btn: 0 4px 10px rgba(0, 0, 0,.2);
    --shadow-btn-active: 0 6px 7px rgba(0, 0, 0,.2);
    --shadow-input-inset: inset 0 0 10px rgba(0,0,0,0.1);

    --line: 1px solid var(--color-grey-light-2);

    --max-width: 200rem;

}


// RESPOSIVE PREAKPOINTS
$bp-largest: 110em;   // 1760px 
$bp-large: 75em;   // 1200px 
$bp-medium: 62.5em;    // 1000px
$bp-small: 50em;   // 800px
$bp-smallest: 37.5em;   // 600px