.btn {
    width: 17rem;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 1rem;
    transition: all .2s;
    box-shadow: var(--shadow-btn);
    font-family: var(--font-primary);

    &:active {
        transform: translateY(3px);
        box-shadow: var(--shadow-btn-active);
    }
}
