.card {
    padding: 3rem;
    background-color: var(--color-white);
    display: flex;
    width: 23%;
    max-width: 30rem;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        width: 45%;
        max-width: initial;
        margin-bottom: 2rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        width: 100%;
    }

    &__title,
    &__price {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }



    &__title {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
        color: var(--color-font-grey);
        vertical-align: middle;
        height: 5rem;
    }

    &__price {
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
        margin-bottom: 2.5rem;
        color: var(--color-font-grey);
    }

    &__description {
        margin: 1.5rem 0 2.5rem 0;
        

        &--feature {
            display: flex;
            align-items: center;


            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &--icon {
            font-size: 1rem;
            margin-right: 1rem;
            color: var(--color-blue);
        }
    }

    &__btn {
        background-color: var(--color-blue);
        color: var(--color-white);
    }
}