.header-slider {
    width: 100%;
    z-index: 100;

    background-color: var(--color-black);
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        max-height: 120vh;
        min-height: 60rem;
        overflow: hidden;  
    }

    @media only screen and (max-width: $bp-small) {
        height: 100%;
        max-height: 97vh;
        min-height: 50rem;
        overflow: hidden; 
    }

    @media only screen and (max-width: $bp-smallest) {
        min-height: initial; 
    }

    

    &__image {
        
        width: 100%;
        height: auto;
        opacity: 0;
        //object-fit: cover;
        
        animation: slideshow 24s ease-in-out infinite;
        z-index: 100;

        &:not(:first-child) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    & #sliderID-1 {
        animation-delay: 0s;   
    }

    & #sliderID-2 {
        animation-delay: 6s;   
    }

    & #sliderID-3 {
        animation-delay: 12s;   
    }

    & #sliderID-4 {
        animation-delay: 18s;   
    }   
}

@keyframes slideshow {
    from {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}