.navigation{
    position: fixed;
    z-index: 1300;
    top: 0;
    width: 100%;
    margin-bottom: 10rem;
    padding: 3rem 20rem;


    background-color: rgba(0,0,0,.7);
   
    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        

        &--item {

            &:not(:last-child) {
                margin-right: 5rem;
            }
        }

        &--link,
        &--link:link,
        &--link:visited {
            font-size: 1.5rem;
            font-weight: 700;
            text-decoration: none;
            letter-spacing: .5px;
            color: var(--color-white);
        }
    }
}