.testimonials {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;

    &__testimonial {
        display: flex;
        align-items: flex-start;
        width: 35%;
        margin-bottom: 3rem;
        padding: 3rem 1.5rem;

        border: 3px solid var(--color-grey-light);
        border-radius: 15px;
        box-shadow: var(--shadow-light);

        @media only screen and (max-width: $bp-large) {
            width: 45%;
            padding: 1.5rem 1.5rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 90%;
        }

        @media only screen and (max-width: $bp-smallest) {
           flex-direction: column;
           align-items: center;
        }

        &--img-link,
        &--img-link:active,
        &--img-link:visited {
            text-decoration: none;
        }


        &--user-photo {
            flex-shrink : 0;
            display: inline-block;
            margin-right: 3rem;
            width: 13rem;
            height: auto;
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }

        &--content {
            flex-shrink: 1;
        }

        &--header,
        &--header:active,
        &--header:visited {
            display: block;
            font-weight: 700;
            margin-bottom: 1rem !important;
            font-size: 1.6rem;
            text-decoration: none;
            cursor: pointer;
        }

        &--text {
            margin-bottom: 1rem;
            //font-weight: 500;
        }

        &--name {
            font-family: var(--font-display-2);
            font-size: 3rem;
        }

    }
}