a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.heading-1 {
    color: var(--color-grey-light);
    font-size: 11.5rem;
    text-align: center;
    font-family: var(--font-display);

    @media only screen and (max-width: $bp-smallest) {
        font-size: 8rem;  
    }
}

.heading-2 {
    font-family: var(--font-display);
    font-size: 9rem;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
        font-size: 7rem;  
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 3.5rem;  
    }
}