a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.heading-1 {
    color: var(--color-grey-light);
    font-size: 20rem;
    text-align: center;
    font-family: var(--font-display);
    //line-height: .7 !important;
}

.heading-2 {
    font-family: var(--font-display);
    font-size: 9rem;
}