.section-header{
    width: 100%;
    position: relative;
    
    

    &__front {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.7);
        z-index: 1000;
        padding-top: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--heading-regular {
            font-size: 3rem;
            font-weight: 700;
        }

        &--heading-italics {
            font-family: var(--font-display-2);
            font-size: 5rem;
            margin-top: 5rem;
        }
    }
}